-i https://pypi.org/simple
aiohttp==3.8.4 ; python_version >= '3.6'
aiosignal==1.3.1 ; python_version >= '3.7'
altair==5.0.1 ; python_version >= '3.7'
antlr4-python3-runtime==4.9.3
anyio==3.7.0 ; python_version >= '3.7'
argilla==1.8.0 ; python_version >= '3.7'
async-timeout==4.0.2 ; python_version < '3.11'
attrs==23.1.0 ; python_version >= '3.7'
backoff==2.2.1 ; python_version >= '3.7' and python_version < '4.0'
blinker==1.6.2 ; python_version >= '3.7'
boto3==1.26.145
botocore==1.29.145 ; python_version >= '3.7'
cachetools==5.3.1 ; python_version >= '3.7'
certifi==2023.5.7 ; python_version >= '3.6'
cffi==1.15.1
chardet==5.1.0 ; python_version >= '3.7'
charset-normalizer==3.1.0 ; python_full_version >= '3.7.0'
click==8.1.3 ; python_version >= '3.7'
cmake==3.26.3
coloredlogs==15.0.1 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
commonmark==0.9.1
contourpy==1.0.7 ; python_version >= '3.8'
cryptography==41.0.1 ; python_version >= '3.7'
cycler==0.11.0 ; python_version >= '3.6'
dataclasses-json==0.5.7 ; python_version >= '3.6'
decorator==5.1.1 ; python_version >= '3.5'
deprecated==1.2.14 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
effdet==0.4.1
et-xmlfile==1.1.0 ; python_version >= '3.6'
exceptiongroup==1.1.1 ; python_version < '3.11'
faiss-cpu==1.7.4
filelock==3.12.0 ; python_version >= '3.7'
flatbuffers==23.5.26
fonttools==4.39.4 ; python_version >= '3.8'
frozenlist==1.3.3 ; python_version >= '3.7'
fsspec==2023.5.0 ; python_version >= '3.8'
gitdb==4.0.10 ; python_version >= '3.7'
gitpython==3.1.31 ; python_version >= '3.7'
greenlet==2.0.2 ; platform_machine == 'aarch64' or (platform_machine == 'ppc64le' or (platform_machine == 'x86_64' or (platform_machine == 'amd64' or (platform_machine == 'AMD64' or (platform_machine == 'win32' or platform_machine == 'WIN32')))))
h11==0.14.0 ; python_version >= '3.7'
httpcore==0.16.3 ; python_version >= '3.7'
httpx==0.23.3 ; python_version >= '3.7'
huggingface-hub==0.15.1 ; python_full_version >= '3.7.0'
humanfriendly==10.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
idna==3.4 ; python_version >= '3.5'
importlib-metadata==6.6.0 ; python_version >= '3.7'
importlib-resources==5.12.0 ; python_version < '3.10'
iopath==0.1.10 ; python_version >= '3.6'
jinja2==3.1.2 ; python_version >= '3.7'
jmespath==1.0.1 ; python_version >= '3.7'
joblib==1.2.0 ; python_version >= '3.7'
jsonschema==4.17.3 ; python_version >= '3.7'
kiwisolver==1.4.4 ; python_version >= '3.7'
kor==0.10.0
langchain==0.0.188
layoutparser[layoutmodels,tesseract]==0.3.4
lit==16.0.5
lxml==4.9.2 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
markdown==3.4.3 ; python_version >= '3.7'
markupsafe==2.1.2 ; python_version >= '3.7'
marshmallow==3.19.0 ; python_version >= '3.7'
marshmallow-enum==1.5.1
matplotlib==3.7.1 ; python_version >= '3.8'
monotonic==1.6
mpmath==1.3.0
msg-parser==1.2.0 ; python_version >= '3.4'
multidict==6.0.4 ; python_version >= '3.7'
mypy-extensions==1.0.0 ; python_version >= '3.5'
networkx==3.1 ; python_version >= '3.8'
nltk==3.8.1 ; python_version >= '3.7'
numexpr==2.8.4 ; python_version >= '3.7'
numpy==1.23.5 ; python_version >= '3.8'
nvidia-cublas-cu11==11.10.3.66 ; platform_system == 'Linux' and platform_machine == 'x86_64'
nvidia-cuda-cupti-cu11==11.7.101 ; platform_system == 'Linux' and platform_machine == 'x86_64'
nvidia-cuda-nvrtc-cu11==11.7.99 ; platform_system == 'Linux' and platform_machine == 'x86_64'
nvidia-cuda-runtime-cu11==11.7.99 ; platform_system == 'Linux' and platform_machine == 'x86_64'
nvidia-cudnn-cu11==8.5.0.96 ; platform_system == 'Linux' and platform_machine == 'x86_64'
nvidia-cufft-cu11==10.9.0.58 ; platform_system == 'Linux' and platform_machine == 'x86_64'
nvidia-curand-cu11==10.2.10.91 ; platform_system == 'Linux' and platform_machine == 'x86_64'
nvidia-cusolver-cu11==11.4.0.1 ; platform_system == 'Linux' and platform_machine == 'x86_64'
nvidia-cusparse-cu11==11.7.4.91 ; platform_system == 'Linux' and platform_machine == 'x86_64'
nvidia-nccl-cu11==2.14.3 ; platform_system == 'Linux' and platform_machine == 'x86_64'
nvidia-nvtx-cu11==11.7.91 ; platform_system == 'Linux' and platform_machine == 'x86_64'
olefile==0.46 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
omegaconf==2.3.0 ; python_version >= '3.6'
onnxruntime==1.15.0
openai==0.27.7
openapi-schema-pydantic==1.2.4 ; python_full_version >= '3.6.1'
opencv-python==4.7.0.72 ; python_version >= '3.6'
openpyxl==3.1.2 ; python_version >= '3.6'
packaging==23.1 ; python_version >= '3.7'
pandas==1.5.3 ; python_version >= '3.8'
pdf2image==1.16.3
pdfkit==1.0.0
pdfminer.six==20221105 ; python_version >= '3.6'
pdfplumber==0.9.0 ; python_version >= '3.7'
pillow==9.5.0 ; python_version >= '3.7'
portalocker==2.7.0 ; python_version >= '3.5'
protobuf==4.23.2 ; python_version >= '3.7'
pyarrow==12.0.0 ; python_version >= '3.7'
pycocotools==2.0.6 ; python_version >= '3.5'
pycparser==2.21
pydantic==1.10.8 ; python_version >= '3.7'
pydeck==0.8.1b0 ; python_version >= '3.7'
pygments==2.15.1 ; python_version >= '3.7'
pympler==1.0.1 ; python_version >= '3.6'
pymupdf==1.22.3
pypandoc==1.11 ; python_version >= '3.6'
pyparsing==3.0.9 ; python_full_version >= '3.6.8'
pyrsistent==0.19.3 ; python_version >= '3.7'
pytesseract==0.3.10
python-dateutil==2.8.2 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
python-docx==0.8.11
python-magic==0.4.27 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
python-multipart==0.0.6 ; python_version >= '3.7'
python-pptx==0.6.21
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
pyyaml==6.0 ; python_version >= '3.6'
regex==2023.5.5 ; python_version >= '3.6'
requests==2.31.0 ; python_version >= '3.7'
rfc3986[idna2008]==1.5.0
rich==13.0.1 ; python_full_version >= '3.7.0'
s3transfer==0.6.1 ; python_version >= '3.7'
safetensors==0.3.1
scipy==1.10.1 ; python_version < '3.12' and python_version >= '3.8'
setuptools==67.8.0 ; python_version >= '3.7'
six==1.16.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
smmap==5.0.0 ; python_version >= '3.6'
sniffio==1.3.0 ; python_version >= '3.7'
sqlalchemy==2.0.15 ; python_version >= '3.7'
streamlit==1.23.1
sympy==1.12 ; python_version >= '3.8'
tabulate==0.9.0
tenacity==8.2.2 ; python_version >= '3.6'
tiktoken==0.4.0
timm==0.9.2 ; python_version >= '3.7'
tokenizers==0.13.3
toml==0.10.2 ; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'
toolz==0.12.0 ; python_version >= '3.5'
torch==2.0.1
torchvision==0.15.2
tornado==6.3.2 ; python_version >= '3.8'
tqdm==4.65.0 ; python_version >= '3.7'
transformers==4.29.2 ; python_full_version >= '3.7.0'
triton==2.0.0 ; platform_system == 'Linux' and platform_machine == 'x86_64'
typer==0.9.0 ; python_version >= '3.6'
typing-extensions==4.6.3 ; python_version >= '3.7'
typing-inspect==0.9.0
tzdata==2023.3 ; python_version >= '3.6'
tzlocal==4.3 ; python_version >= '3.7'
unstructured[local-inference]==0.7.1
unstructured-inference==0.5.1
urllib3==1.26.16 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
validators==0.20.0 ; python_version >= '3.4'
wand==0.6.11
watchdog==3.0.0 ; platform_system != 'Darwin'
wheel==0.40.0 ; python_version >= '3.7'
wrapt==1.14.1 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
xlrd==2.0.1 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
xlsxwriter==3.1.2 ; python_version >= '3.6'
yarl==1.9.2 ; python_version >= '3.7'
zipp==3.15.0 ; python_version >= '3.7'
